name: CI lesson28

permissions:
  contents: read
  packages: write

on:
  push:
    branches: [ lesson28 ]
  pull_request:
    branches: [ lesson28]

jobs:
    build_and_test:

        runs-on: ubuntu-latest

        strategy:
            matrix:
                app:
                    - hello-world
                    - hello-devops
                    - hello-jenkins

        steps:
        - uses: actions/checkout@v2

        - name: Set up JDK 18
          uses: actions/setup-java@v1
          with:
            java-version: 18
        
        - name: Cache the Maven packages to speed up build 
          uses: actions/cache@v4 
          with: 
            path: ~/.m2 
            key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }} 
            restore-keys: ${{ runner.os }}-m2
        
        - name: Build project with Maven
          run: mvn -B package -DskipTests --file lesson28/${{ matrix.app }}/pom.xml clean package

        - name: Test app with maven
          run: mvn test --file lesson28/${{ matrix.app }}/pom.xml
    
    publish-job:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                app:
                    - hello-world
                    - hello-devops
                    - hello-jenkins


        needs: [ build_and_test ]
        steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-java@v1
          with:
            java-version: 18
        - run: mvn -B package -DskipTests --file lesson28/${{ matrix.app }}/pom.xml clean package
        - run: mkdir staging && cp lesson28/${{ matrix.app }}/target/*.jar staging
        - uses: actions/upload-artifact@v4
          with: 
            name: Package-${{ matrix.app }}
            path: staging
    
    docker-build-push:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                app:
                    - hello-world
                    - hello-devops
                    - hello-jenkins

        
        needs: [ build_and_test ] 

        steps:
        - name: Convert repository name to lowercase
          run: echo "REPO_LOWER=$(echo '${{ github.repository }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

        - name: Convert app name to lowercase
          run: echo "APP_LOWER=$(echo '${{ matrix.app }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV
        
        - name: Checkout source code
          uses: actions/checkout@v4

        - name: Log in to GitHub Container Registry
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

        - name: Build Docker image
          run: docker build -t ghcr.io/${{ env.REPO_LOWER }}_${{ env.APP_LOWER }}:latest lesson28/${{ matrix.app }}

        - name: Push Docker image
          run: docker push ghcr.io/${{ env.REPO_LOWER }}_${{ env.APP_LOWER }}:latest